# Created by https://www.toptal.com/developers/gitignore/api/netbeans
# Edit at https://www.toptal.com/developers/gitignore?templates=netbeans

### NetBeans ###
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
**/nbproject/project.properties
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# End of https://www.toptal.com/developers/gitignore/api/netbeans
/resources/
exe/
repo/
build.xml
manifest.mf
token-debug.txt
token.txt
logger.log
/bin/
/target/
.classpath
.project
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
/nbproject/
.pid
export.xml
*.exe
